<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Carreira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-1" (click)="navigate('linguagem-desc')">
    <img src="../../assets/images/carreira-1.png" alt="">
  </div>
  <div class="div-2" (click)="navigate('matematica-desc')">
    <img src="../../assets/images/carreira-2.png" alt="" >
  </div>
  <div class="div-3" (click)="navigate('naturais-desc')">
    <img src="../../assets/images/carreira-3.png" alt="">
  </div>
  <div class="div-4" (click)="navigate('humanas-desc')">
    <img src="../../assets/images/carreira-4.png" alt="">
  </div>
  <div class="div-4" (click)="navigate('tecnico-desc')">
    <img src="../../assets/images/carreira-5.png" alt="">
  </div>
</ion-content>