.avatar {
    background-image: url(../assets/images/fundo-avatar-menu.png);
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 40px;    

    img {
        height: 100%;
    }
}