.div-desc-disciplina{
    border-radius: 12px;
    min-height: 200px;
    background-color: #56b472;
    padding: 1em;
}
.desc-container{
    padding: 2em;
}
.div-bi{
    width: 25%;
    text-align: center;
}
.div-bi b{
    color: #fff;
    font-size: 1rem;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .dados-aluno{
      text-align: center;
      color: #fff;
  }
  .dados-aluno h4{
      font-size: 1rem;
  }
  .titulo-1{
      margin-top: 2em;
  }