<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Eixo Tecnológico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!modalAberto" class="flex-container">
    <div class="area-comum flex-container">
      <div class="item-area-comum">
        <button class="btn3" type="button">Mat.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Língua Port.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Hist.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Geo.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Física</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Quim.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Biol.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Língua Estr.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Socio.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Filos.</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button">Artes</button>
      </div>
      <div class="item-area-comum">
        <button class="btn3" type="button" (click)="abreModal(1,2)">Ed. Física</button>
      </div>
    </div>

  </div>

  <div id="modal-disciplina" *ngIf="modalAberto" class="flex-container">
    <div id="btn-fechar">
      <button type="button" (click)="abreModal(1,2)" class="btn2">Voltar</button>
    </div>
    <img src="../../assets/images/popup-materia.png" alt="">
  </div>
</ion-content>